#column1 {
    padding-right: 300px;
}

#column2 {
    padding-right: 260px;
}

#column3 {
    padding-right: 300px;
}

#cart-content, #commandes-content {
    width: 1000px;
    height: x-large;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.product {
    padding: 20px 30px;
    height: 170px;
    display: flex;
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}

.button {
    position: relative;
    padding-top: 40px;
    margin-right: 60px;
    z-index: 2;
}

.remove_button {
    font-size: 12px;
    border: 1px solid rgb(180, 29, 29);
	background-color: rgb(180, 29, 29);
	border-radius: 10px;
	padding: 8%;
    font-size: 20px;
    color: #FFF;
    float: right;
}

.product-img {
    margin-right: 100px;
}

.product-descr {
    max-width: 130px;
    padding-top: 30px;
    margin-right: 150px;
}

.product-descr span {
    display: block;
    font-size: 17px;
    font-weight: 400;
}

.product-quantity {
    padding-top: 40px;
    margin-right: 150px;
    font-size: 20px;
}

.product-price {
    width: 70px;
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 100px;
}
